<h1>Milllenial Quotes</h1>
<hr>
<ul>
    <div class="row">
        <div class="col-md-6">
          <div *ngFor='let quote of quotes;let i = index'>
            <div>
              <h4 id={{i}} appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</h4>
              <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
            </div>
    
            <div *ngIf='quote.showDescription'>
              <app-quote-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
            </div>
          </div>
        </div>
      </div>
    
      <p *ngIf='quotes.length > 5'>You have too many goals</p>
    </div>

