@import "~bootstrap/dist/css/bootstrap.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: url(../src/assets/images/woman-570883_1920.jpg);
    opacity: 0.9;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
